.divStyleA{
	/*border-bottom: 5px solid black;*/
	
}

.container{
	position: relative;
}

body{
	font-family: 'Indie Flower', cursive;
	font-family: 'Dancing Script', cursive;
	background-color: black;
	color:white;
}

.right{
	float:right;
}

.textCenter{
	text-align: center;
}

img{
	border-radius: 23px;
	border:5px solid white;
	/*position:relative;*/
}

.center{
	text-align: center;
	/*height:25%;*/
}

.cursiveFont{
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
}

.placeOverImage{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}